In [1]:
#导入
import pandas as pd
import numpy as np

In [2]:
#打印输出
print()

In [3]:
#赋值/创建字符串
first_name = "hello world"
print(first_name)

hello world

In [4]:
#引号使用
df1='1'
df2=" 2"
df3='''1
2
3'''
print(df1,df2,df3)

1  2 1
2
3

In [5]:
#字符串基本操作
#1,合并
df1+df2

'1 2'

In [6]:
#2，复制字符串
df1*3

'111'

In [7]:
#字符串转为数值
int('9')
#`

9

In [8]:
#字符串的索引及切片
df1='python'
print(df1)
df1[0]#正序索引从0开始

python

'p'

In [9]:
df1[-1]#倒叙索引从-1开始

'n'

In [10]:
#字符串的切片的操作
df1[0:3]#从第0个到第三个前面一个
#[:3]从开头到第三个前面一个#[0:]从开头到最后一个值

'pyt'

In [11]:
#创建字符串
applePriceString = "apple's unit price is 9 yuan"
#创建新变量
applePrice = applePriceString[-6]
print(applePrice)

9

In [12]:
type(applePrice)#查看数据类型

str

In [13]:
applePriceint = int(applePrice)#赋值 转换成整数

In [14]:
type(applePriceint)#再次查看数值

int

In [17]:
#运算符 + - * / % ** //
# % 取余数 22%2=2
# ** 幂 次方 2**3=8
#// 取除的整数 22//2=10
#1. == 等于  #2.！=不等于  #3.><   >=   <=
#运算符+= a+=b等效于 a=a+b