In [227]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## 任务3.1

In [228]:
fin_data = pd.read_csv('./financial_data.csv')

In [229]:
fin_corr = fin_data.drop(['TICKER_SYMBOL','FLAG'],axis =1)

In [230]:
fin_corr.head()

,END_DATE,LDBL,LXBZBS,ZCFZL,CHZZL,ZCBCL,CHZLDZCB,CQZBSYL,YYMLL,YSL,YSZKZZL,YYSR,YYCB,YYSJJFJ,YWFY,ZCJZSS,LRZE
0,1,8.24911,1.83324,0.10018,3.13214,0.09723,0.07257,0.10554,0.97278,0.15610,0.26727,4.795006e+08,2.935500e+08,1505596.10,7.039946e+07,23119755.14,1.249776e+08
1,1,1.30010,15.58644,0.66081,3.33273,0.07795,0.22293,0.21593,0.92089,0.12659,0.06131,5.325324e+09,3.498736e+09,28213513.69,1.373892e+09,29930865.49,4.152227e+08
2,1,4.62003,3.31066,0.17311,1.19244,0.08734,0.18267,0.10118,1.00495,0.09472,0.26297,1.683760e+09,7.883673e+08,8298888.47,5.864694e+08,1766300.21,3.843256e+08
3,1,2.77734,3.59707,0.35293,5.12706,0.04856,0.13312,0.06808,0.98878,0.14381,0.11057,2.229978e+09,1.743231e+09,11585500.32,3.942345e+08,4007795.79,1.219177e+08
4,1,2.48068,68.08648,0.33309,4.27485,0.19819,0.29959,0.28469,0.90921,0.14099,0.25481,3.945543e+08,2.986392e+08,1621817.64,3.724401e+07,970096.95,6.042674e+07

In [231]:
import pandas as pd
from scipy.stats import pearsonr

# 计算皮尔逊相关系数
correlation_matrix = fin_corr.corr(method='pearson')

# 找出与利润总额相关性最高的5个指标
top_5_columns = correlation_matrix.nlargest(6, 'LRZE')

# 打印结果
for column in top_5_columns.columns:
    print(f"{column}: {correlation_matrix.loc[column, 'LRZE']}")

END_DATE: 0.0397330183745972
LDBL: -0.026884525684594974
LXBZBS: 0.0174421956400654
ZCFZL: -0.0017826786253434162
CHZZL: 0.03797260047234722
ZCBCL: 0.043743819036452546
CHZLDZCB: -0.04677794821986064
CQZBSYL: 0.009256070932125498
YYMLL: 0.00011731369731595789
YSL: 0.005212299233533453
YSZKZZL: -0.08437150551989227
YYSR: 0.7827263151797681
YYCB: 0.7377355345434052
YYSJJFJ: 0.5654399586557002
YWFY: 0.772832208480809
ZCJZSS: 0.23852393588533838
LRZE: 1.0

In [232]:
print('与利润总额相关性最高的5个指标为：'+ str(top_5_columns.index.values))
correlation_matrix.loc[top_5, 'LRZE']

与利润总额相关性最高的5个指标为：['LRZE' 'YYSR' 'YWFY' 'YYCB' 'YYSJJFJ' 'ZCJZSS']

YYSR       0.782726
YWFY       0.772832
YYCB       0.737736
YYSJJFJ    0.565440
ZCJZSS     0.238524
Name: LRZE, dtype: float64

In [233]:
top_5 = ['YYSR', 'YWFY', 'YYCB', 'YYSJJFJ' ,'ZCJZSS']

In [234]:
X_train = fin_data[top_5]
y_train = fin_data['LRZE']

In [235]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
# 在训练集上训练模型
LR.fit(X_train, y_train)

LinearRegression()

## 任务3.2

In [236]:
test_dataset = pd.read_csv('./test.csv')

In [237]:
test_dataset[test_dataset['TICKER_SYMBOL'].isna()].index
test_dataset = test_dataset.drop(test_dataset[test_dataset['TICKER_SYMBOL'].isna()].index,axis =0)
test_dataset

,TICKER_SYMBOL,END_DATE,LDBL,LXBZBS,ZCFZL,CHZZL,ZCBCL,CHZLDZCB,CQZBSYL,YYMLL,YSL,YSZKZZL,YYSR,YYCB,YYSJJFJ,YWFY,ZCJZSS,LRZE
0,4953174.0,5.0,1.41740,2.96614,0.60127,3.24196,0.08026,0.14384,0.15566,0.85642,0.12160,0.25295,3.501238e+09,2.593604e+09,40980752.40,4.217535e+08,56811586.41,NaN
1,4961537.0,5.0,0.94243,0.45944,0.67948,4.44306,0.02919,0.20742,0.06794,1.40453,0.35732,0.24452,8.278759e+09,6.870074e+09,44977835.37,1.314004e+09,49340166.13,NaN
2,4962538.0,5.0,2.20029,3.28527,0.31562,3.05144,0.11048,0.31596,0.15289,0.89825,0.11751,0.26295,1.510889e+09,1.205632e+09,10993321.61,1.519945e+08,2002192.75,NaN
3,4968740.0,5.0,4.08654,3.70881,0.17492,3.88704,0.21255,0.12379,0.25736,0.85939,0.15607,0.28736,7.321226e+08,4.122802e+08,7623557.16,1.214044e+08,7830051.21,NaN
4,4973917.0,5.0,6.25037,4998.44428,0.19128,4.67928,0.11012,0.07103,0.13013,0.90631,0.09428,0.04192,5.315053e+08,3.006819e+08,3375275.50,1.306369e+08,8648374.78,NaN
5,4978589.0,5.0,1.39230,2.09908,0.41281,3.70217,0.06048,0.28981,0.09790,0.90865,0.12018,0.00213,5.261743e+09,4.205669e+09,43401622.79,8.048720e+08,15798060.19,NaN
6,4978721.0,5.0,1.83506,3.74735,0.45938,1.89762,0.07856,0.23746,0.10110,0.90867,0.11094,0.07698,6.869436e+08,3.557428e+08,8927318.95,2.120431e+08,-3181.40,NaN
7,4986535.0,5.0,5.89479,3.03820,0.14666,2.97990,0.09775,0.23604,0.10974,0.84860,0.13243,0.17767,1.142787e+09,8.463056e+08,10844601.28,1.670473e+08,4239790.36,NaN
8,4990739.0,5.0,2.61167,4.35794,0.36161,2.82497,0.10833,0.19363,0.12911,0.82257,0.17537,0.19085,1.504147e+09,8.791528e+08,27017358.53,3.328449e+08,8435484.41,NaN
9,4990942.0,5.0,2.53653,7.26054,0.23695,2.36007,0.03856,0.25271,0.05038,0.83451,0.21954,0.37724,1.382050e+09,1.086799e+09,17193628.21,1.718616e+08,40172500.21,NaN

In [238]:
X_test = test_dataset[top_5]
X_test

           YYSR          YWFY          YYCB      YYSJJFJ       ZCJZSS
0  3.501238e+09  4.217535e+08  2.593604e+09  40980752.40  56811586.41
1  8.278759e+09  1.314004e+09  6.870074e+09  44977835.37  49340166.13
2  1.510889e+09  1.519945e+08  1.205632e+09  10993321.61   2002192.75
3  7.321226e+08  1.214044e+08  4.122802e+08   7623557.16   7830051.21
4  5.315053e+08  1.306369e+08  3.006819e+08   3375275.50   8648374.78
5  5.261743e+09  8.048720e+08  4.205669e+09  43401622.79  15798060.19
6  6.869436e+08  2.120431e+08  3.557428e+08   8927318.95     -3181.40
7  1.142787e+09  1.670473e+08  8.463056e+08  10844601.28   4239790.36
8  1.504147e+09  3.328449e+08  8.791528e+08  27017358.53   8435484.41
9  1.382050e+09  1.718616e+08  1.086799e+09  17193628.21  40172500.21

In [239]:
y_pred = LR.predict(X_test)
test_dataset['LRZE']=y_pred

In [240]:
test = test_dataset[['TICKER_SYMBOL','LRZE']]

In [241]:
test #并将预测结果以表格的形式在报告中呈现。

   TICKER_SYMBOL          LRZE
0      4953174.0  3.897855e+08
1      4961537.0  3.475143e+08
2      4962538.0  1.086046e+08
3      4968740.0  1.177655e+08
4      4973917.0  3.950441e+07
5      4978589.0  3.501923e+08
6      4978721.0  7.770772e+07
7      4986535.0  8.256000e+07
8      4990739.0  2.344534e+08
9      4990942.0  4.526217e+07

## 任务3.3

In [242]:
fin_new_data = pd.read_csv('./financial_data_new.csv')

In [243]:
fin_new_data

,TICKER_SYMBOL,END_DATE,LDBL,LXBZBS,ZCFZL,CHZZL,ZCBCL,CHZLDZCB,CQZBSYL,YYMLL,YSL,YSZKZZL,YYSR,YYCB,YYSJJFJ,YWFY,ZCJZSS,LRZE
0,4992858,5,1.08190,0.63389,0.43580,2.36745,0.02721,0.26487,0.04697,1.73290,0.13850,0.21712,313049823,2.483239e+08,2.751499e+06,6.158939e+07,4020075.41,9.183250e+06
1,4993201,5,1.18628,1.64535,0.51038,3.13126,0.11496,0.40295,0.18837,0.93607,0.13414,0.19357,1439149376,9.662807e+08,1.084947e+07,3.406317e+08,12532234.01,1.184314e+08
2,4998808,5,0.85226,0.47531,0.57374,0.81894,0.02719,0.42421,0.05068,1.00795,0.05026,0.24420,1374764470,9.309216e+08,3.530369e+07,3.719429e+08,5647752.71,5.943589e+07
3,4897311,5,1.30825,1.51388,0.48336,0.36807,0.02947,0.19557,0.05035,0.90864,0.30507,1.24359,1309103505,9.607311e+08,7.523460e+06,2.501891e+08,54103360.03,4.835499e+07
4,4999709,5,0.90699,2.52465,0.52007,2.76637,0.09150,0.18268,0.12498,0.76677,0.11730,0.21569,18533555418,7.608953e+09,2.229243e+08,9.094675e+09,62407550.37,4.061717e+09

In [244]:
fin_data['FLAG'].value_counts()

0    10909
1       85
Name: FLAG, dtype: int64

In [245]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


# 提取关键因子  
key_factors = ['LDBL', 'ZCFZL', 'CHZZL', 'ZCBCL', 'YSZKZZL']

# 数据特征衍生

# 流动比率和资产负债率的比率，这个特征可以反映公司的偿债能力和流动性状况。
fin_data['LDBL_ZCFZL_ratio'] = fin_data['LDBL'] / fin_data['ZCFZL'] 
# 流动比率和资产负债率之和，这个特征可以表示公司的流动性状况和债务状况的综合指标。
fin_data['LDBL_ZCFZL_sum'] = fin_data['LDBL'] + fin_data['ZCFZL'] 
#存货周转率与应收账款周转率之和: 这个特征可以表示公司的营运效率。
fin_data['CHZZL_YSZKZZL_sum'] = fin_data['CHZZL'] + fin_data['YSZKZZL']
# 存货周转率的变化趋势，可以通过计算相邻年份的存货周转率的差值得到，这个特征可以反映公司的存货管理效率。
fin_data['CHZZL_trend'] = fin_data['CHZZL'].diff() 
# 资产报酬率和应收账款周转率的差值，这个特征可以反映公司的盈利能力和运营效率之间的差异。
fin_data['ZCBCL_YSZKZZL_diff'] = fin_data['ZCBCL'] - fin_data['YSZKZZL'] 
#资产负债率与存货周转率之积， 这个特征可以表示公司在存货管理方面的债务风险。
fin_data['ZCFZL_CHZZL_mult'] = fin_data['ZCFZL'] * fin_data['CHZZL']
# 资产报酬率和应收账款周转率之积，这个特征可以反映公司的盈利能力。
fin_data['ZCBCL_YSZKZZL_mult'] = fin_data['ZCBCL'] * fin_data['YSZKZZL'] 


# 将新特征加入关键因子列表  
key_factors.extend(['LDBL_ZCFZL_ratio', 'LDBL_ZCFZL_sum','CHZZL_YSZKZZL_sum','CHZZL_trend', 'ZCBCL_YSZKZZL_diff','ZCFZL_CHZZL_mult','ZCBCL_YSZKZZL_mult'])

# 分离特征和标签  
X = fin_data[key_factors]
y = fin_data['FLAG']

# 划分训练集和测试集  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 标准化特征  
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# 训练随机森林模型，并计算特征重要性  
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
importances = rf.feature_importances_

# 输出特征重要性  
for factor, importance in zip(key_factors, importances):
    print(f'{factor}: {importance}')

# 训练逻辑回归模型，并输出系数  
lr = LogisticRegression()
lr.fit(X_train, y_train)
coefficients = lr.coef_[0]

for factor, coefficient in zip(key_factors, coefficients):
    print(f'{factor}: {coefficient}')

LDBL: 0.01693131850457788
ZCFZL: 0.005228733381130692
CHZZL: 0.09999367276476435
ZCBCL: 0.009217841753407225
YSZKZZL: 0.40030898519556696
LDBL_ZCFZL_ratio: 0.008188226677966483
LDBL_ZCFZL_sum: 0.013324913235945137
CHZZL_YSZKZZL_sum: 0.04667281189612016
CHZZL_trend: 0.006696858672627933
ZCBCL_YSZKZZL_diff: 0.3427456880493962
ZCFZL_CHZZL_mult: 0.0293291834719138
ZCBCL_YSZKZZL_mult: 0.021361766396583267
LDBL: -0.0929348614684942
ZCFZL: -0.22829643006984904
CHZZL: -1.6058997278993237
ZCBCL: -0.12829639849678037
YSZKZZL: 3.411458526889942
LDBL_ZCFZL_ratio: 0.033558244647623414
LDBL_ZCFZL_sum: -0.14188463125336584
CHZZL_YSZKZZL_sum: -1.530869622065751
CHZZL_trend: -0.2749124898770025
ZCBCL_YSZKZZL_diff: -1.1802183114441909
ZCFZL_CHZZL_mult: -1.1096066831606206
ZCBCL_YSZKZZL_mult: -0.1978079701617729

In [247]:
dfa = pd.DataFrame(key_factors)
dfb = pd.DataFrame(coefficients)
df_assess = pd.concat([dfa,dfb],axis = 1)
df_assess.columns = ['key_factors','coefficients']
df_assess

           key_factors  coefficients
0                 LDBL     -0.092935
1                ZCFZL     -0.228296
2                CHZZL     -1.605900
3                ZCBCL     -0.128296
4              YSZKZZL      3.411459
5     LDBL_ZCFZL_ratio      0.033558
6       LDBL_ZCFZL_sum     -0.141885
7    CHZZL_YSZKZZL_sum     -1.530870
8          CHZZL_trend     -0.274912
9   ZCBCL_YSZKZZL_diff     -1.180218
10    ZCFZL_CHZZL_mult     -1.109607
11  ZCBCL_YSZKZZL_mult     -0.197808

In [248]:
df_assess['coefficients'] = abs(df_assess['coefficients'])
df_assess = df_assess.sort_values(by ='coefficients',ascending=False)
df_assess

           key_factors  coefficients
4              YSZKZZL      3.411459
2                CHZZL      1.605900
7    CHZZL_YSZKZZL_sum      1.530870
9   ZCBCL_YSZKZZL_diff      1.180218
10    ZCFZL_CHZZL_mult      1.109607
8          CHZZL_trend      0.274912
1                ZCFZL      0.228296
11  ZCBCL_YSZKZZL_mult      0.197808
6       LDBL_ZCFZL_sum      0.141885
3                ZCBCL      0.128296
0                 LDBL      0.092935
5     LDBL_ZCFZL_ratio      0.033558

In [249]:
df_model = df_assess[df_assess['coefficients'] >1]
df_model_index = df_model['key_factors'].values

In [250]:
import xgboost as xgb
clf = xgb.XGBClassifier()

X = fin_data[df_model_index]
y = fin_data['FLAG']

clf.fit(X,y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [251]:
# 数据特征衍生
fin_new_data['CHZZL_YSZKZZL_sum'] = fin_new_data['CHZZL'] + fin_new_data['YSZKZZL']
fin_new_data['ZCBCL_YSZKZZL_diff'] = fin_new_data['ZCBCL'] - fin_new_data['YSZKZZL'] 
fin_new_data['ZCFZL_CHZZL_mult'] = fin_new_data['ZCFZL'] * fin_new_data['CHZZL']

In [252]:
# 对financial_new_data进行预测
fake_pre = clf.predict(fin_new_data[df_model_index])

In [253]:
# 预测结果
fake_pre

array([0, 0, 0, 1, 0])